language: c++
os: linux
dist: trusty
sudo: false
python: 3.6
notifications:
  email:
    recipients: sricher@ncsu.edu
    on_success: change
    on_failure: always

addons:	
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-5
    - python3

script:
- cd hello_world; g++ hello_world.cpp; python -V; python3 -V; python3 test.py